# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
ENV/

# --- Django ---
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
local_settings.py

# --- IDEs (VS Code, PyCharm) ---
.vscode/
.idea/
*.swp
*.swo

# --- OS ---
.DS_Store
Thumbs.db

# --- Logs y temporales ---
*.log
tmp/